<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="br.com.valhala.agenda.persistencia.mapper.ContatoMapper">

	<resultMap id="contatoResultMapSemRelacionamento" type="Contato">
		<id column="id" property="id" />
		<result column="nome" property="nome" />
	</resultMap>

	<resultMap id="contatoResultMapComRelacionamento" type="Contato">
		<id column="id" property="id" />
		<result column="nome" property="nome" />
		<collection property="telefones" javaType="ArrayList"
			ofType="Telefone" column="id_contato" select="buscarTelefonesPorContato" />
	</resultMap>

	<resultMap type="Contato" id="contatoResultMapComRelacionamentoTotal">
		<id column="id_contato" property="id" />
		<result column="nome_contato" property="nome" />
		<collection property="telefones" javaType="ArrayList"
			ofType="Telefone" column="id_contato">
			<id column="id" property="id" />
			<result column="ddd" property="ddd" />
			<result column="numero" property="numero" />
			<result column="tipo" property="tipo"
				typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
		</collection>
	</resultMap>

	<resultMap id="telefoneResultMap" type="Telefone">
		<id column="id_telefone" property="id" />
		<result column="ddd" property="ddd" />
		<result column="numero" property="numero" />
		<result column="tipo" property="tipo"
			typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
	</resultMap>

	<!-- Seção dos statements de manipulação. -->
	<insert id="inserirContato" useGeneratedKeys="true" keyProperty="id"
		parameterType="Contato">
		INSERT INTO contato (nome) VALUES (#{nome})
	</insert>

	<update id="atualizarContato" parameterType="Contato">
		UPDATE contato
		SET
		nome = #{nome} WHERE id = #{id}
	</update>

	<delete id="removerContato" parameterType="java.lang.Integer">
		DELETE FROM
		contato
		WHERE id = #{id}
	</delete>

	<!-- Seção dos statements de consulta -->
	<!-- Select sem o relacionamento -->

	<select id="buscarTodosContatos" resultMap="contatoResultMapSemRelacionamento">
		SELECT * FROM
		contato
	</select>

	<select id="buscarContatoPorIdSemRelacionamento" parameterType="java.lang.Integer"
		resultMap="contatoResultMapSemRelacionamento">
		SELECT *
		FROM contato
		WHERE id = #{id}
	</select>

	<!-- Select com o relacionamento OneToMany -->
	<select id="buscarConstatosPorIdComRelacionamento"
		parameterType="java.lang.Integer" resultMap="contatoResultMapComRelacionamento">
		SELECT * FROM contato
		WHERE id = #{id}
	</select>

	<!-- Select para o relacionamento OneToMany do Contato -->
	<select id="buscarTelefonesPorContato" parameterType="java.lang.Integer"
		resultMap="telefoneResultMap">
		SELECT * FROM telefone WHERE id_contato = #{id}
	</select>

	<select id="buscarContatoPorIdRelacionamentoFull" parameterType="java.lang.Integer"
		resultMap="contatoResultMapComRelacionamentoTotal">
		SELECT c.*, t.* FROM contato c
		LEFT OUTER JOIN
		telefone t ON
		c.id_contato = t.id_contato
		WHERE c.id_contato =
		#{id}
	</select>

</mapper>